@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: hsl(216, 12%, 8%);
  color: #969FAD;
  width: 375px;
  height: 500px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0 auto;
}

.button {
  background-color: hsl(213, 19%, 18%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.175px;
  color: #7C8798;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.activeButton {
  background-color: #7C8798;
  color: white;
}
